<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<form action="/" method="post" style="display: flex; justify-content: center;">
    ISBN: <input type="text" name="isbn"/>
    <input id="skicka" type="submit"/>
</form>

<div th:if="${answer != null}">
    <p th:text="${answer}" style="display: flex; justify-content: center;"></p>
</div>


<!--Reload on submit-->
<script>

    document.getElementById("skicka").addEventListener("click", function() {
  location.reload();
});

</script>








</body>
</html>